# ignore any datai (except benchmarks):
data/*

# ignore any legacy golang files
*.go

# keep bin directory (to compile into)
bin/*
!bin/.gitkeep
!/bin/benchmarks.zip

# ignore IDE settings
.vscode

# ignore profiling files:
gmon.out
